/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

:root {
  --color-text-accent: #EB5757;
  --color-text: #FAFAFA;
  --bg-menu: #131417;
  --bg-accent: #252830;
  --border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  --border-mobile: 1px solid #131417;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 3600px;
  min-width: 376px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.content-wrap {
  background-color: var(--bg-menu);
}

.content {
  width: 100%;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.menu__submenu,
.submenu__low-submenu {
  display: none;
}

.header {
  position: relative;
  background-color: var(--bg-menu);
  width: 100%;
  padding: 13px 130px 13px 122px;
  color: var(--color-text);
  -webkit-box-shadow: 0px 4px 4px rgba(19, 20, 23, 0.9);
          box-shadow: 0px 4px 4px rgba(19, 20, 23, 0.9);
}

.header__wrapper {
  max-width: 1188px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 76px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
}

.header__burger-btn {
  background-color: transparent;
  border: none;
  display: none;
}

.header__burger-btn:hover {
  opacity: 0.7;
}

.header__contact {
  font-weight: 500;
}

.header__contact:hover {
  opacity: 0.7;
}

.header__contact-item {
  margin-right: 15px;
  vertical-align: middle;
}

.menu__link {
  padding: 35px 0;
}

.menu__link:hover {
  color: var(--color-text-accent);
}

.link-more,
.item-more {
  position: relative;
}

.link-more:after {
  content: url(img/drop.svg);
  position: absolute;
  top: 32px;
  right: -22px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu__item:hover .link-more:after,
.menu__item:active .link-more:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 35px;
}

.submenu__item .submenu__link.link-more:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 6px;
  right: -26px;
}

.submenu__item:hover .link-more:after,
.submenu__item:active .link-more:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 8px;
}

.menu__item:hover>.menu__submenu,
.menu__item:active>.menu__submenu {
  display: block;
}

.submenu__item:hover>.submenu__low-submenu,
.submenu__item:active>.submenu__low-submenu {
  display: block;
}

.menu__submenu {
  background-color: var(--bg-accent);
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  top: 53px;
  left: -20px;
}

.menu__submenu:before {
  content: "";
  position: absolute;
  border: 14px solid transparent;
  border-bottom: 14px solid var(--bg-accent);
  top: -28px;
  left: 47px;
}

.submenu__item {
  border-bottom: var(--border-bottom);
  padding: 8px 38px 8px 18px;
}

.submenu__low-submenu .submenu__item {padding-right: 0;}

.submenu__item:last-child {
  border-bottom: none;
  border-radius: 0px 0px 8px 8px;
}

.submenu__item:hover {
  background-color: var(--bg-menu);
}

.submenu__link {
  display: block;
  font-size: 16px;
  padding: 8px 0;
}

.submenu__text {
  display: block;
  width: 264px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.submenu__low-submenu {
  background-color: var(--bg-accent);
  border-radius: 8px;
  width: 180px;
  position: absolute;
  bottom: 0;
  right: -202px;
}

.submenu__low-submenu:before {
  content: "";
  position: absolute;
  border: 14px solid transparent;
  border-right: 14px solid var(--bg-accent);
  left: -28px;
  bottom: 8px;
}

.submenu__low-submenu .submenu__item:first-child:hover {
  border-radius: 8px 8px 0px 0px;
}

@media (max-width: 1300px) {
  .content {
    -o-object-position: 30%;
       object-position: 30%;
  }

  .header {
    padding-left: 22px;
    padding-right: 34px;
  }

  .header__menu {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .header__burger-btn {
    display: block;
  }

  .header__nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__menu {
    background-color: var(--bg-menu);
    position: absolute;
    width: 375px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0;
    top: 80px;
    bottom: -100vh;
    right: 0;
    -webkit-transform: translatex(375px);
            transform: translatex(375px); /*--мобильное меню скрыто по умолчанию*/
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
  }

  /*класс для активного мобильного меню*/
  .header__menu_active {
    display: block;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }

  .header__menu_active:before {
    content: "";
    background: rgba(19, 20, 23, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100vw;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .submenu__text {width: 100%;}

  .menu__item,
  .submenu__item {
    background-color: var(--bg-accent);
    border-bottom: var(--border-mobile);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link,
  .submenu__link {
    width: 100%;
    padding: 20px;
  }

  .menu__link:hover,
  .menu__link:active {
    color: var(--color-text);
  }

  .menu__item:active,
  .submenu__item:active {
    background-color: var(--bg-menu);
  }

  .item-more:hover,
  .item-more:active {
    padding-bottom: 0;
  }

  .menu__item:hover, .submenu__item:hover {
    background-color: var(--bg-accent);
  }

  .menu__item:active, .submenu__item:active {
    background-color: var(--bg-menu);
  }

  .menu__item-more:after {
    top: 17px;
    right: auto;
    margin-left: 10px;
  }

  .submenu__item:last-child {
    border-radius: 0;
    border-bottom: 1px solid var(--bg-accent);
  }

  .submenu__low-submenu .submenu__item:last-child {
    border-bottom: 1px solid var(--bg-accent);
  }

  .submenu__low-submenu .submenu__item:first-child:hover {
    border-radius: 0;
  }

  .menu__submenu,
  .submenu__low-submenu {
    position: static;
    width: 375px;
    border-radius: 0;
  }

  /*стили для треугольника на планшете и мобильном.
  Для того, чтобы треугольник повернулся, в активном пункте меню добавляется класс item-active */

  .link-more:after {
    top: 18px;
    right: 200px;
  }

  .header__menu .item-active .link-more:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 20px;
  }

  .submenu__item .submenu__link.link-more:after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 16px;
    right: 20px;
  }

  .menu__item:hover .link-more:after,
  .menu__item:active .link-more:after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 18px;
  }

  .menu__item:hover>.menu__submenu,
  .menu__item:active>.menu__submenu {
    display: block;
  }

  .submenu__item:hover>.submenu__low-submenu,
  .submenu__item:active>.submenu__low-submenu {
    display: block;
  }

  .menu__submenu:before,
  .submenu__low-submenu:before {
    border: none;
  }

}

@media (max-width: 420px) {

  .header__menu,
  .menu__submenu,
  .submenu__low-submenu {
    width: 100%;
  }

  .menu__item,
  .submenu__item {
    padding-right: 0;
  }

  .header__contact-number {
    display: none;
  }

  .header__contact {
    margin-left: 50%;
  }
}
